<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicUIDesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B243D181C26B768000F1EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B243D311C26B768000F1EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B243D3C1C26B768000F1EDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
